<section id="contact-page" class="contact-page">
    <img src="img/contact-map.png" alt="3d Dental Contact Location" class="contact-page__img-1">
    <div class="contact-page__wrapper flex">
        <h2>Location</h2>
        <div class="contact-page__item half">
            <img src="img/contact-location-1.png" alt="3d Dental Contact Location" >
            <div class="contact-page__wrapper-2 flex flex-j-c">
                <div class="contact-page__icon icon-compass"></div>
                <div class="contact-page__text-1">W 41st St Miami Beach, Florida</div>
            </div>
        </div>
        <div class="contact-page__item half">
            <img src="img/contact-location-2.png" alt="3d Dental Contact Location" >
            <div class="contact-page__wrapper-2 flex flex-j-c">
                <div class="contact-page__icon icon-compass"></div>
                <div class="contact-page__text-1">FL-112  Miami Beach, Florida</div>
            </div>
        </div>
    </div>
</section>