#coming{
    height: 100vh;
    background-image: url(../img/coming-bg-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3fa4e2;
}
.coming-content{
    text-align: center;
    width: 100%;
}


@media(max-width: 1150px){
    #coming{
        background-size: cover;
    }
}

