<section id="about-page-item-2">
    <div class="flex">
        <div class="half about-page-item-2_bg"></div>
        <div class="half">
            <div class="about-page-item-2__wrapper">
                <div class="about-page-item-2__text-1">
                    Prosthodontic Dentistry of <span class="about-page-item-2__text-1_blue">South Florida</span>
                </div>
                <div class="about-page-item-2__text-2">
                    Prosthodontic Dentistry of South Florida is conveniently located in the Biscayne
                    Bank Building in Coconut Grove/Miami, Florida. Our Coconut Grove dentists, Dr. Sharp,
                    Dr Segall, Dr Ravazzi, Dr Ribeiro, Dr. Pasciuta, Dr. Sher and their staff are able to provide
                    specialized, general and cosmetic dentistry, including crowns, bridges, veneers,
                    root canal treatments, pediatric dentistry, Invisalign and more. We have prosthodontists,
                    maxillo oral facial prosthodontists, a periodontist,  general dentists, an oral surgeon, an
                    endodontist, and a full hygienist department to fulfill
                    all your needs as patients.
                </div>
            </div>
        </div>
    </div>
</section>