<section id="innerpage-about">
    <div class="breadcrumbs flex flex-j-s">
        <a href="/" class="breadcrumbs__text-1">Home</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/services.html" class="breadcrumbs__text-1">Services</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/veneers-crowns.html" class="breadcrumbs__text-2">Veneers & Crowns</a>
    </div>
    <h2>
        Veneers & Crowns
    </h2>
    <div class="innerpage-about__wrapper flex">
        <div class="half veneers-crowns__bg-2">
            <div class="innerpage-about__wrapper-2">
                <div class="innerpage-about__text-1 innerpage-about__text-1_p-1">
                    Our Chandler, <span class="innerpage-about__text-1_blue">3D dental</span> practice offers full-coverage dental crowns, made from
                    luminous porcelain and Zirconia materials. Dental crown restorations offer beautiful
                    aesthetic results that protect your natural tooth from further damage or decay. They're also perfect for topping off your dental implants.
                    <span class="innerpage-about_break">Dr. Lopez is certified to use the CEREC crown restoration system. This same
                        day dental crown system makes it possible for patients to receive a customized
                        crown in just a few hours rather than waiting 2 weeks for a crown
                         to be created and placed.
                    </span>
                </div>
            </div>
        </div>
        <div class="half about__item about__video computer">
                <div class="about__text-1">
                    <div class="about__line">
                    </div>
                    We strive to make our Irvine Endodontics office a comfortable environment where you will be sure to leave with your tooth pain addressed and a smile on your face
                </div>
        </div>
        <div class="half innerpage-about_bg-blue">
            <div class="innerpage-about__wrapper-4">
                <div class="innerpage-about__text-2 innerpage-about__text-2_blue">Same Day Crowns</div>
                <div class="innerpage-about__text-3 innerpage-about__text-3_margin">
                    CEREC same day dental crowns are extremely durable, with studies showing that
                    Cad Cam ceramics are the 2nd longest lasting restoration behind gold.
                    Dr. Lopez often recommends same day crowns because of their benefits, such as:
                    <ul class="another-ul">
                        <li> Less tooth sensitivity </li>
                        <li> Ability to prepare the tooth</li>
                        <li> Highly accurate digital impressions</li>
                        <li> Greater convenience toward the patient's schedule </li>
                        <li> No room for human error </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="half innerpage-about_bg-size veneers-crowns__bg-3">
            <div class="main-footer__button flex innerpage-about__button-wrapper"><div class="main-footer__text">Make an appointment</div><div class="arrow arrow-right"><span></span> <span></span> <span></span></div></div>
        </div>
    </div>
</section>