<section id="gallery" class="gallery">
    <div class="breadcrumbs flex flex-j-s">
        <a href="/" class="breadcrumbs__text-1">Home</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/smile-gallery.html" class="breadcrumbs__text-2">Smile Gallery</a>
    </div>
    <h2>Smile Gallery</h2>
    <div class="gallery__wrapper">
        <div class="gallery-jcarousel-wrapper">
            <div class="gallery-carousel">
                <ul>
                    <li>
                        <div class="gallery__text-1">
                            <span class="gallery__text-1_blue">Amazing transformation</span> for this patient 1
                        </div>
                        <div class="flex gallery__wrapper-2">
                            <div class="half">
                                <div class="gallery__border-r">
                                    <img src="img/gallery-img-1.png" alt="teeth" class="gallery__img-1">
                                    <div class="gallery__item">
                                        <div class="gallery__point"></div><div class="gallery__line"></div>
                                    </div>
                                    <div class="gallery__item-2">
                                        <div class="gallery__text-2">
                                            Before
                                        </div>
                                        <div class="gallery__text-3">
                                            bonding
                                        </div>
                                    </div>

                                    <img src="img/gallery-img-2.png" alt="teeth" class="gallery__img-2">
                                    <div class="gallery__item">
                                        <div class="gallery__point"></div><div class="gallery__line"></div>
                                    </div>
                                    <div class="gallery__item-2">
                                        <div class="gallery__text-2">
                                            After
                                        </div>
                                        <div class="gallery__text-3">
                                            bonding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="half">
                                <div class="gallery__wrapper-3">
                                    <div class="gallery__text-5">
                                        This patient was unhappy with the spacing between her teeth, especially on her side profile.
                                        After an extensive consultation with Dr. Beirne where various different treatment
                                        options were explored, it was decided that cosmetic bonding best suited our patients
                                        needs and budget.
                                    </div>
                                    <div class="gallery__line-2"></div>
                                    <div class="gallery__text-5">
                                        <strong>Treatment: </strong>Before the bonding appointment, the patient did our at home teeth whitening treatment for 3 weeks, (teeth whitening takes a further 3 weeks for the final colour to settle).
                                        After this period the patient came in for her bonding appointment.
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Duration of treatment: </strong> Appointment time for bonding: 2hrs 30mins
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Cost of treatment: </strong>  Cosmetic bonding: <span class="gallery__text-5_blue">$1484.00</span>
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Result: </strong> The patient was thrilled with the dramatic difference in the shape of her teeth. Bonding has closed the large gaps between her teeth, resulting in beautiful and natural
                                        looking teeth.
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Dentist: </strong> <span class="gallery__text-5_underline">Dr. Angela McMullin</span>
                                    </div>
                                    <div class="gallery__text-5"> For more information on cosmetic bonding and to see more before and after pictures <a href="services.html">see here</a> </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gallery__text-1">
                            <span class="gallery__text-1_blue">Amazing transformation</span> for this patient 2
                        </div>
                        <div class="flex gallery__wrapper-2">
                            <div class="half">
                                <div class="gallery__border-r">
                                    <img src="img/gallery-img-1.png" alt="teeth" class="gallery__img-1">
                                    <div class="gallery__item">
                                        <div class="gallery__point"></div><div class="gallery__line"></div>
                                    </div>
                                    <div class="gallery__item-2">
                                        <div class="gallery__text-2">
                                            Before
                                        </div>
                                        <div class="gallery__text-3">
                                            bonding
                                        </div>
                                    </div>

                                    <img src="img/gallery-img-2.png" alt="teeth" class="gallery__img-2">
                                    <div class="gallery__item">
                                        <div class="gallery__point"></div><div class="gallery__line"></div>
                                    </div>
                                    <div class="gallery__item-2">
                                        <div class="gallery__text-2">
                                            After
                                        </div>
                                        <div class="gallery__text-3">
                                            bonding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="half">
                                <div class="gallery__wrapper-3">
                                    <div class="gallery__text-5">
                                        This patient was unhappy with the spacing between her teeth, especially on her side profile.
                                        After an extensive consultation with Dr. Beirne where various different treatment
                                        options were explored, it was decided that cosmetic bonding best suited our patients
                                        needs and budget.
                                    </div>
                                    <div class="gallery__line-2"></div>
                                    <div class="gallery__text-5">
                                        <strong>Treatment: </strong>Before the bonding appointment, the patient did our at home teeth whitening treatment for 3 weeks, (teeth whitening takes a further 3 weeks for the final colour to settle).
                                        After this period the patient came in for her bonding appointment.
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Duration of treatment: </strong> Appointment time for bonding: 2hrs 30mins
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Cost of treatment: </strong>  Cosmetic bonding: <span class="gallery__text-5_blue">$1484.00</span>
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Result: </strong> The patient was thrilled with the dramatic difference in the shape of her teeth. Bonding has closed the large gaps between her teeth, resulting in beautiful and natural
                                        looking teeth.
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Dentist: </strong> <span class="gallery__text-5_underline">Dr. Angela McMullin</span>
                                    </div>
                                    <div class="gallery__text-5"> For more information on cosmetic bonding and to see more before and after pictures <a href="services.html">see here</a> </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gallery__text-1">
                            <span class="gallery__text-1_blue">Amazing transformation</span> for this patient 3
                        </div>
                        <div class="flex gallery__wrapper-2">
                            <div class="half">
                                <div class="gallery__border-r">
                                    <img src="img/gallery-img-1.png" alt="teeth" class="gallery__img-1">
                                    <div class="gallery__item">
                                        <div class="gallery__point"></div><div class="gallery__line"></div>
                                    </div>
                                    <div class="gallery__item-2">
                                        <div class="gallery__text-2">
                                            Before
                                        </div>
                                        <div class="gallery__text-3">
                                            bonding
                                        </div>
                                    </div>

                                    <img src="img/gallery-img-2.png" alt="teeth" class="gallery__img-2">
                                    <div class="gallery__item">
                                        <div class="gallery__point"></div><div class="gallery__line"></div>
                                    </div>
                                    <div class="gallery__item-2">
                                        <div class="gallery__text-2">
                                            After
                                        </div>
                                        <div class="gallery__text-3">
                                            bonding
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="half">
                                <div class="gallery__wrapper-3">
                                    <div class="gallery__text-5">
                                        This patient was unhappy with the spacing between her teeth, especially on her side profile.
                                        After an extensive consultation with Dr. Beirne where various different treatment
                                        options were explored, it was decided that cosmetic bonding best suited our patients
                                        needs and budget.
                                    </div>
                                    <div class="gallery__line-2"></div>
                                    <div class="gallery__text-5">
                                        <strong>Treatment: </strong>Before the bonding appointment, the patient did our at home teeth whitening treatment for 3 weeks, (teeth whitening takes a further 3 weeks for the final colour to settle).
                                        After this period the patient came in for her bonding appointment.
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Duration of treatment: </strong> Appointment time for bonding: 2hrs 30mins
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Cost of treatment: </strong>  Cosmetic bonding: <span class="gallery__text-5_blue">$1484.00</span>
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Result: </strong> The patient was thrilled with the dramatic difference in the shape of her teeth. Bonding has closed the large gaps between her teeth, resulting in beautiful and natural
                                        looking teeth.
                                    </div>
                                    <div class="gallery__text-5">
                                        <strong>Dentist: </strong> <span class="gallery__text-5_underline">Dr. Angela McMullin</span>
                                    </div>
                                    <div class="gallery__text-5"> For more information on cosmetic bonding and to see more before and after pictures <a href="services.html">see here</a> </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex gallery__pagination-wrapper">
           <a href="#" class="gallery-control-back"><div class="gallery__arrow"><div class="gallery__arrow-1"></div><div class="gallery__arrow-2"></div></div></a>
            <ul class="gallery-pagination"></ul>
            <a href="#" class="gallery-control-next"><div class="gallery__arrow reverse"><div class="gallery__arrow-1"></div><div class="gallery__arrow-2"></div></div></a>
        </div>

    </div>
</section>