<section id="contact">
    <div class="contact__wrapper">
        <div class="flex">
            <div class="half">
                    <div class="contact-info">
                        <h2 class="contact-info__text-1">Contact <span class="contact-info__text-2">information</span></h2>
                            <div class="contact-info__descr contact__info__text-3">
                                A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but deliver a similar message.
                            </div>
                        <div class="contact-loc flex">
                            <div class="contact-info__item-1">
                                <div class="contact-info__text-4">
                                    Contact:
                                </div>
                                <div class="contact-info__text-5">
                                    T: +30 23510 47000 <br>
                                    E: info@konstolymp.gr
                                </div>
                            </div>
                            <div class="contact-info__item-1">
                                <div class="contact-info__text-4">
                                    Location:
                                </div>
                                <div class="contact-info__text-5">
                                    975 Arthur Godfrey rd #306 <br>
                                    Miadmi Beach FL 33140
                                </div>
                            </div>
                            <div class="contact-info__item-1">
                                <div class="contact-info__text-4">
                                    Google Maps:
                                </div>
                                <div class="contact-info__text-5 flex">
                                    <span class="icon-geo"></span>
                                    <a href="#">Open in Gmaps</a>
                                </div>
                            </div>
                        </div>
                        <div class="contact-info__social flex">
                            <div class="contat-social flex">
                                <div class="contat-social__text-1">
                                    Social media:
                                </div>
                                <div class="coming-social__icons">
                                    <a href="#" class="coming-social__icon-1">
                                        <span class="icon-facebook"></span>
                                    </a>
                                    <a href="#" class="coming-social__icon-2">
                                        <span class="icon-wordpress"></span>
                                    </a>
                                    <a href="#" class="coming-social__icon-3">
                                        <span class="icon-twitter"></span>
                                    </a>
                                    <a href="#" class="coming-social__icon-4">
                                        <span class="icon-linkedin"></span>
                                    </a>
                                    <a href="#" class="coming-social__icon-5">
                                        <span class="icon-youtube"></span>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <img src="icon-uber.svg" alt="uber icon">
                            </a>
                        </div>
                </div>
            </div>
            <div class="contact__vertical">
                <div class="contact__line"></div>
                <div class="contact__vertical-text">Fill the form</div>
            </div>
            <div class="half contact-form">
                <div class="contact-form__wrapper">
                    <div class="contact-form__text-1">Contact Us</div>
                    <form action="#" method="post" class="contact-form__flex">
                        <input required="" type="text" class="contact-name-input" name="name" placeholder="Name">
                        <input required="" type="tel" class="contact-tel-input" name="phone" placeholder="Phone">
                        <input required="" type="email" class="contact-email-input" name="email" placeholder="Email">
                        <span class="contact-form__text-2">
                            A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but deliver a similar message.
                        </span>
                        <textarea required="" class="contact-message-input" name="message" placeholder="Message"></textarea>
                        <button>
                            <input class="contact-submit" type="submit" name="submit" value="send">
                            <div class="arrow arrow-right">
                                <span></span> <span></span> <span></span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>