<section id="contact">
    <div class="contact__wrapper">
        <div class="flex">
            <div class="half">
                    <div class="contact-info">
                        <h2 class="contact-info__text-1">Contact <span class="contact-info__text-2"><br>information</span></h2>
                            <div class="contact-info__descr contact-info__text-3">
                                A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but deliver a similar message.
                            </div>
                        <div class="contact-info__location flex">
                            <div class="contact-info__item-1">
                                <div class="contact-info__text-4">
                                    Contact:
                                </div>
                                <div class="contact-info__text-5">
                                    T: +30 23510 47000 <br>
                                    E: info@konstolymp.gr
                                </div>
                            </div>
                            <div class="contact-info__item-2">
                                <div class="contact-info__text-4">
                                    Location:
                                </div>
                                <div class="contact-info__text-5">
                                    975 Arthur Godfrey rd #306 <br>
                                    Miadmi Beach FL 33140
                                </div>
                            </div>
                            <div class="contact-info__item-3">
                                <div class="contact-info__text-4">
                                    Google Maps:
                                </div>
                                <div class="contact-info__text-6 flex flex-j-s">
                                    <span class="icon-geo"></span>
                                    <a href="#" class="contact-info__gmap-text">Open in Gmaps</a>
                                </div>
                            </div>
                        </div>
                        <div class="contact-info__social flex">
                            <div class="contact-social flex">
                                <div class="contact-social__text-1">
                                    Social media:
                                </div>
                                <div class="contact-social__icons">
                                    <a href="#" class="contact-social__item">
                                        <span class="icon-facebook contact-social__icon"></span>
                                    </a>
                                    <a href="#" class="contact-social__item">
                                        <span class="icon-wordpress contact-social__icon"></span>
                                    </a>
                                    <a href="#" class="contact-social__item">
                                        <span class="icon-twitter contact-social__icon"></span>
                                    </a>
                                    <a href="#" class="contact-social__item">
                                        <span class="icon-linkedin contact-social__icon"></span>
                                    </a>
                                    <a href="#" class="contact-social__item">
                                        <span class="icon-youtube contact-social__icon"></span>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <img class="contact-info__uber" src="img/icon-uber.svg" alt="uber icon">
                            </a>
                        </div>
                </div>
            </div>
            <div class="contact__vertical flex">
                <div class="contact__vertical-text">Fill the form</div>
                <div class="contact__line"></div>
            </div>
            <div class="half contact-form">
                <div class="contact-form__wrapper">
                    <div class="contact-form__text-1">Contact Us</div>
                    <form action="#" method="post" class="contact-form__flex">
                        <input required="" type="text" class="contact-form__name-input contact-form__input" name="name" placeholder="Name">
                        <input required="" type="tel" class="contact-form__tel-input contact-form__input" name="phone" placeholder="Phone">
                        <input required="" type="email" class="contact-form__email-input contact-form__input" name="email" placeholder="Email">
                        <div class="contact-form__text-2">
                            A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but
                        </div>
                        <textarea required="" class="contact-form__message-input contact-form__input" name="message" placeholder="Message"></textarea>
                        <!--<input class="contact-submit" type="submit" name="submit" value="send">-->
                        <button>
                            Send
                            <div class="arrow arrow-right">
                                <span></span> <span></span> <span></span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>