<section id="footer">
    <div class="footer__content flex">
        <div class="footer__logo">
            <img class="footer__img-1" src="img/footer-logo.png" alt="3d dental smile  logo">
        </div>
        <div class="footer__nav-1 footer__nav">
            <div class="footer__nav-heading">
                Menu:
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Smile Gallery</a></li>
            </ul>
        </div>
        <div class="footer__nav-2 footer__nav">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
        <div class="footer__contact">
            <div class="footer__contact-heading">Contact:</div>
            <div class="footer__contact-text-1">
                T: 30 23510 47000<br>
                E: <a href="info@konstolymp.gr">info@konstolymp.gr</a>
            </div>
            <div class="footer__contact-text-2">
                A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but
            </div>
        </div>
        <div class="footer__powered">
            <img src="img/footer-powered.png" class="footer__img-2" alt="FreshClicksMedia Powered Web-site">
        </div>
    </div>
    <div class="footer__line"></div>
</section>