<section id="header" class="header">
    <div class="flex">
        <div class="header__logo">
            <img src="img/logo.png" class="main-logo__img">
        </div>
        <ul class="flex">
            <li><a href="#">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Smile Gallery</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="header__item">
            <div class="header__item">
                <div class="header__img-1 icon-phone"></div>
                <div class="header__text-2">
                    975 Arthur Godfrey rd #306
                    Miami Beach FL 33140
                </div>
            </div>
        </div>
        <div class="header__schedule flex flex-j-c">
            <div class="header__icon icon-clock"></div>
            <div class="header__text-1">
                Schedule An Appointment
            </div>
        </div>
    </div>
</section>