<section id="header" class="header">
    <div class="flex computer-flex">
        <div class="header__logo">
            <a href="/"><img src="img/logo.png" class="main-logo__img"></a>
        </div>
        <ul class="flex">
            <li><a href="/">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Smile Gallery</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <div class="header__item">
            <div class="header__item">
                <div class="header__img-1 icon-phone"></div>
                <div class="header__text-2">
                    975 Arthur Godfrey rd #306
                    Miami Beach FL 33140
                </div>
            </div>
        </div>
        <a href="#contact">
            <div class="header__schedule flex flex-j-c">

                    <div class="header__icon icon-clock"></div>
                    <div class="header__text-1">
                        Schedule An Appointment
                    </div>
            </div>
        </a>
    </div>
    <div class="main-nav-mobile mobile header__menu-bg header__menu-padding  p-s">
        <div class="main-nav-mobile__call_hover">
            <div class="main-nav-mobile__call-wrapper">
                <div class="main-nav-mobile__call-item-1">
                    <div class="main-nav-mobile__text-1">
                        Location
                    </div>
                    <div class="main-nav-mobile__text-2">
                        975 Arthur Godfrey rd #306<br>
                        Miami Beach FL 33140
                    </div>
                </div>
                <div class="main-nav-mobile__call-item-1">
                    <div class="main-nav-mobile__text-1">
                        Contact:
                    </div>
                    <div class="main-nav-mobile__text-2 main-nav-mobile__text-2_contact">
                        T: <a href="tel:305-532-1728">305-532-1728</a><br>
                        E: <a href="mailto:info@3ddentalsmile.com" target="_blank" class="underline">info@3ddentalsmile.com</a>
                    </div>
                </div>
                <div class="main-nav-mobile__call-item-1">
                    <div class="main-nav-mobile__text-1">
                        Google Maps:
                    </div>
                    <div class="main-nav-mobile__text-2 main-nav-mobile__text-2_geo flex flex-j-s">
                        <span class="icon-geo"></span>
                        <a href="#" class="underline">Open in Gmaps</a>
                    </div>
                </div>
                <div class="main-nav-mobile__call-item-2 flex flex-j-c flex-d-c">
                    <div class="main-nav-mobile__text-3">
                        Social media:
                    </div>
                    <div class="main-nav-mobile__icons">
                        <a href="#" class="main-nav-mobile__icons-item">
                            <span class="icon-facebook main-nav-mobile__icon"></span>
                        </a>
                        <a href="#" class="main-nav-mobile__icons-item">
                            <span class="icon-wordpress main-nav-mobile__icon"></span>
                        </a>
                        <a href="#" class="main-nav-mobile__icons-item">
                            <span class="icon-twitter main-nav-mobile__icon"></span>
                        </a>
                        <a href="#" class="main-nav-mobile__icons-item">
                            <span class="icon-linkedin main-nav-mobile__icon"></span>
                        </a>
                        <a href="#" class="main-nav-mobile__icons-item">
                            <span class="icon-youtube main-nav-mobile__icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav-mobile__menu_hover">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="contact.html">Contact us</a></li>
            </ul>
        </div>
        <div class="main-nav-mobile__wrapper mobile-flex flex">
            <a href="#">
                <div class="main-nav-mobile__item-1 header__menu-item_size icon-phone"></div>
            </a>
            <a href="#">
                <img src="img/header-mobile-logo.png" class="header__logo">
            </a>
            <a href="#">
                <div class="main-nav-mobile__nav">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </a>
        </div>
    </div>
</section>