<section id="innerpage-about">
    <div class="breadcrumbs flex flex-j-s">
        <a href="/" class="breadcrumbs__text-1">Home</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/services.html" class="breadcrumbs__text-1">Services</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/services.html" class="breadcrumbs__text-2">Cosmetic dentistry</a>
    </div>
    <h2>
        Cosmetic dentistry
    </h2>
    <div class="innerpage-about__wrapper flex">
        <div class="half bg_light-blue">
            <div class="innerpage-about__wrapper-2">
                <div class="innerpage-about__text-1">
                    Are your teeth the source of embarrassment or anxiety? If you're refraining from smiling
                    in photographs or in a group of colleagues, it could be time to invest in cosmetic dentistry
                    to receive a smile makeover. <span class="innerpage-about_break-mobile">Riggs Family Dental</span><span class="smart-break-mobile">offers skillful solutions to common cosmetic
                    dental problems. Dr. Carlos Lopez can help you to address teeth that look:</span>
                </div>
                <ul>
                    <li> Crowded </li>
                    <li> Uneven, chipped, or worn</li>
                    <li> Discolored and stained </li>
                    <li> Gapped </li>
                    <li> Irregularly shaped </li>
                </ul>
            </div>
        </div>
        <div class="half about__item about__video computer">
                <div class="about__text-1">
                    <div class="about__line">
                    </div>
                    We strive to make our Irvine Endodontics office a comfortable environment where you will be sure to leave with your tooth pain addressed and a smile on your face
                </div>
        </div>
        <div class="half innerpage-about_bg-blue">
            <div class="innerpage-about__wrapper-3">
                <div class="innerpage-about__text-2"><span class="innerpage-about__text-2_blue">Paying for</span> <span class="smart-break-mobile">a Smile Makeover</span></div>
                <div class="innerpage-about__text-3">
                    Your initial cosmetic dentistry consultation will provide you and Dr. Lopez with
                    an opportunity to discuss your biggest concerns, your long-term goals,and the budget that you have in mind. You'll be glad to know that we also
                    provide convenient financing plans through CareCredit, so that your smile
                    makeover can fit into affordable monthly payments!
                </div>
            </div>
        </div>
        <div class="half innerpage-about_bg-size cosmetic-denistry__bg-2">
            <div class="main-footer__button flex innerpage-about__button-wrapper"><div class="main-footer__text">Make an appointment</div><div class="arrow arrow-right"><span></span> <span></span> <span></span></div></div>
        </div>
    </div>
</section>