<section id="innerpage-item-1" class="cosmetic-denistry__bg-3">
    <div class="innerpage-item-1__wrapper">
        <div class="innerpage-item-1__text-1">
            Customized Veneers Offer <span class="innerpage-item-1__text-1_blue">Dramatic Results</span>
        </div>
        <div class="innerpage-item-1__text-2">
            Veneers are customized shells of porcelain that cover the front of your teeth. For the most dramatic
            results possible, our custom porcelain veneers are an excellent choice. Each one is handmade for
            a precision match both to your tooth's  color and contour. Dr. Lopez implements virtual makeover
            and diagnostic models so that your overall procedure implements the least invasive techniques
            possible. Chairside composite veneers are also available when appropriate.
        </div>
    </div>
</section>