<section id="innerpage-item-3" class="cosmetic-denistry__bg-4">
    <div class="innerpage-item-3__wrapper-1">
        <div class="innerpage-item-3__text-1">
            <span class="innerpage-item-3__text-1_blue">It All Starts</span>
            With a Cosmetic Dentistry Consultation
        </div>
    </div>
    <div class="innerpage-item-3__wrapper-2">
        <div class="innerpage-item-3__text-2">
            The first step to a smile makeover is scheduling an exam with our Chandler cosmetic
            dentist. We will discuss each of your aesthetic concerns as they relate to the health of your
            teeth and provide you with a variety of appropriate options to choose from.
            If you have missing teeth, be sure to ask about our dental implants! No smile needs are too large or too small. Call Riggs Family Dental to find out how Dr. Lopez can help
            you to create a smile that boosts your confidence and comfort level. Se habla espanol.
        </div>
        <div class="innerpage-item-3__text-3">Looking for other services? Visit our<a href="/services.html">3D Dental</a> services page.</div>
    </div>
</section>