<section id="innerpage-item-2">
    <div class="innerpage-item-2_blue"></div>
        <div class="innerpage-item-2_white innerpage-item-2__wrapper innerpage-item-2__border flex">
            <div class="innerpage-item-2__item-1">
                <div class="innerpage-item-2__text-1">
                    Erase Years of Stain with
                    Professional Whitening
                </div>
                <div class="innerpage-item-2__line"></div>
            </div>
            <div class="innerpage-item-2__item-2 innerpage-item-2__text-2">
                We offer Zoom! and Venus in-office whitening treatments, as well as Opalescence take-home whitening kits.
                During your consultation, we will discuss the advantages of each one, so that you can choose the one most
                appropriate for your cosmetic needs or concerns. Same day teeth whitening with Venus or Zoom can be
                completed in as little as just over an hour at our office!
            </div>

    </div>
</section>