.breadcrumbs{
  margin-top: 2.2rem;
  margin-left: 1.2rem;
  &__text-1{
    font-size: 1.1rem;
    color: #0e96ca;
    font-weight: 600;
    margin-right: 1rem;
    &:nth-child(n+1){
      margin-left:1rem;
    }
  }
  &__text-2{
    color: black;
    margin-left: 1rem;
    font-size: 1.1rem;
  }
  .arrow{
    span{
      background-color: #0e96ca;
      &:first-child{
        width: .3rem;
      }
      &:last-child{
        width: .3rem;
      }
      width:3rem;
    }
  }
}
@media(max-width: 750px){
  .breadcrumbs{
    justify-content: center;
    margin-top: 7.2rem;
    &__text-1{
      font-size: 4.5rem;
      margin-right: 3rem;
      &:nth-child(n+1){

        margin-left: 3rem;
      }
    }
    &__text-2{
      font-size: 4rem;
      margin-left:3rem;
    }
    .arrow{
      span{
        &:first-child{
          width: 1rem;
        }
        &:last-child{
          width: 1rem;
        }
        width:12rem;
      }
    }
  }
}