<section id="about-page-about">
    <div class="flex">
        <div class="half about-page-about_border">
            <div class="breadcrumbs flex flex-j-s m-l-0">
                <a href="/" class="breadcrumbs__text-1 about-page-about_l">Home</a>
                <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
                <a href="/about.html" class="breadcrumbs__text-2">About</a>
            </div>

            <div class="about-page-about__wrapper-1">
                <div class="about-page-about__text-1">
                    <span class="about-page-about__text-1_blue">Dr.</span> Angela McMullin
                </div>
                <div class="about-page-about__text-2">
                    Is our most recent member of the team. Her experience includes two years
                    as the lead general dentist at a corporate practice in South East Florida. Prior to her corporate
                    practice experience, Dr. McMullin spent two years in clinical training at the Kornberg School
                    of Dentistry in Philadelphia.<br>
                    Dr. McMullin is passionate about all aspects of health care; in particular as it pertains to oral health
                    and the impact it has on overall wellness. Dr. McMullin is an enthusiastic integrator of technology
                    within her practice and she is an avid student; pursuing a great many passions through continuing
                    education courses and certification programs. Outside of her professional activities
                </div>
                <ul>
                    <img src="img/about-us-page-icon-1.svg">
                    <li>
                        Dr. McMullin enjoys the beach, playing competitive
                        tennis (5.0+) and spending time with family in NJ, where she was born and raised.
                    </li>
                    <img src="img/about-us-page-icon-2.svg">
                    <li>
                        She belongs to SFDA, ADA and the AAFE organizations. Dr. Angela McMullin graduated
                        from The Ohio State University with a B.A degree in Psychology and a minor in Life Sciences.
                    </li>
                    <img src="img/about-us-page-icon-3.svg">
                    <li>
                        She earned her Master's of Biomedical Science from the University
                        of Medicine and Dentistry of New J
                    </li>
                </ul>
                <div class="about-page-about__text-2 about-page-about__text-2_l">
                    ersey following which Dr. McMullin attended Temple University, Kornberg School of Dentistry
                    where she received her D.M.D (Doctor of Dental Medicine).
                </div>
            </div>
        </div>
        <div class="half about-page-about__half" >
            <div class="about-page-about__wrapper-2">
                <div class="about-page-about__text-1">
                    <span class="about-page-about__text-1_blue">Dr.</span> Sydney Sher Segall
                </div>
                <div class="about-page-about__text-2">
                    Is one of the leading doctors of General and Cosmetic dentistry in the
                    South Florida region. She was born and raised in Miami and is thrilled to be serving her home
                    community. She attended the University of Pennsylvania where she received her Bachelor's
                    degree and graduated at the top of her class with Magna Cum Laude status. Dr. Sher then
                    returned home to South Florida to obtain her dental degree from Nova Southeastern University.
                    Dr. Sher has a passion for precision and perfection as well as developing great relationships
                    with her adored patients. Her large following enjoys her gentle touch, vibrant personality,
                    and vast knowledge of the field of dentistry.
                </div>
                <ul class="another-ul">
                    <img src="img/about-us-page-icon-4.svg">
                    <li>
                        Her skills include fillings, veneers, crowns, bridges, implants, root canals,
                        extractions, dentures, Invisalign, teeth whitening, Botox and Juvederm.
                    </li>
                    <img src="img/about-us-page-icon-5.svg">
                    <li>
                        Her devotion and love for her patients
                    </li>
                    <img src="img/about-us-page-icon-6.svg">
                    <li>
                        Her extraordinary skills are the reason for her very busy practice. Outside
                        of the office, Dr. Sher enjoys spending time with her husband and baby boy
                        and as well as the rest of her family and friends.
                    </li>
                </ul>
                <div class="about-page-about__text-2"></div>
            </div>
        </div>
    </div>
</section>