<section id="innerpage-about">
    <div class="breadcrumbs flex flex-j-s">
        <a href="/" class="breadcrumbs__text-1">Home</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/services.html" class="breadcrumbs__text-1">Services</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/dental-anxiety.html" class="breadcrumbs__text-2">Dental anxiety</a>
    </div>
    <h2>
        Dental anxiety
    </h2>
    <div class="innerpage-about__wrapper flex ">
        <div class="half bg_light-blue dental-anxiety__bg-2">
            <div class="innerpage-about__wrapper-2">
                <div class="innerpage-about__text-1_big">Is when you feel nervous</div>
                <div class="innerpage-about__text-1 innerpage-about__text-1_p-2">
                    Dental anxiety is when you feel nervous, worried or uneasy about going
                    to the dentist. You may have low or moderate levels of anxiety - where you feel anxious but can cope - or your levels of anxiety may be high
                    or extreme. If you get extremely anxious about going to the dentist,
                    you could have a dental phobia. This is when you have a persistent
                    and intense fear of the dentist.
                </div>
            </div>
        </div>
        <div class="half about__item about__video computer">
                <div class="about__text-1">
                    <div class="about__line">
                    </div>
                    We strive to make our Irvine Endodontics office a comfortable environment where you will be sure to leave with your tooth pain addressed and a smile on your face
                </div>
        </div>
        <div class="half innerpage-about_bg-blue">
            <div class="innerpage-about__wrapper-3 innerpage-about__wrapper-5">
                <div class="innerpage-about__text-2"><span class="innerpage-about__text-2_blue">What causes dental
anxiety?</span></div>
                <div class="innerpage-about__text-3">
                    Your dental anxiety may be caused by a bad experience you had when you were
                    younger, or as a result of other people's  anxiety influencing your own thoughts
                    and feelings. If you are unfamiliar with the dentist, this may also cause anxiety.
                    <ul class="another-ul">
                        <li>seeing or hearing the dentist's drill</li>
                        <li>seeing or thinking about needles</li>
                        <li>pain</li>
                        <li>blood</li>
                        <li>choking or gagging</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="half innerpage-about_bg-size dental-anxiety__bg-3">
            <div class="main-footer__button flex innerpage-about__button-wrapper"><div class="main-footer__text">Make an appointment</div><div class="arrow arrow-right"><span></span> <span></span> <span></span></div></div>
        </div>
    </div>
</section>