<section id="innerpage-item-1" class="dental-anxiety__bg-4">
    <div class="innerpage-item-1__wrapper">
        <div class="innerpage-item-1__text-1">
            Tips to help with dental anxiety
        </div>
        <div class="innerpage-item-1__text-2">
            If you have dental anxiety, make sure you tell your dentist. If your dentist knows how you're feeling, they can make a special effort to help you feel as comfortable and relaxed as possible. Your dentist
            will talk you through your appointment or procedure and answer any questions you may have. I you're unsure about anything, don't be afraid to ask your dentist to demonstrate things.
        </div>
    </div>
</section>