<section id="innerpage-item-2">
    <div class="innerpage-item-2_blue"></div>
        <div class="innerpage-item-2_white innerpage-item-2__wrapper innerpage-item-2__border flex">
            <div class="innerpage-item-2__item-1">
                <div class="innerpage-item-2__text-1">
                    What is it?
                </div>
                <div class="innerpage-item-2__line"></div>
            </div>
            <div class="innerpage-item-2__item-2 innerpage-item-2__text-2">
                Dental anxiety ranges from mild uneasiness (experienced by many of us), to acute anxiety/panic
                attacks. When a person will not visit the dentist despite needing treatment, they can be said to
                be suffering from dental phobia.   The particular fears of visiting the dentist vary from
                person to person.
            </div>

    </div>
</section>