html {
  font-size: .9375vw;
  font-family: PF BeauSans Pro;
  font-weight: normal;
}
body{
  margin:0!important;
}
a{
  text-decoration: unset;
  color:white;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-j-c{
  justify-content: center;
}
.flex-j-s{
  justify-content: flex-start;
}

.flex-n-w{
  flex-wrap: nowrap;
}
.c-w{
  color:white;
}
.b-c-w{
  background-color:white;
}
.smart-break{
  display: block;
}
.arrow{
    span{
    background-color: white;
    width: 4rem;
    height: .056em;
    display: block;
    &:first-of-type{
      transform: rotate(-45deg);
      width: 0.3rem;
    }
    &:last-of-type{
      transform: rotate(45deg);
      width: 0.3rem;
    }
  }
}
.arrow-right{
  transform: rotate(180deg);
}
.half{
  width: 50%;
}
.quarter{
  width: 25%;
}
.half-height{
  min-height: 18em;
  max-height: 50vh;
  height: 28em;
}
.reverse{
  transform: rotate(180deg);
}
h2{
  margin:0;
}
.mobile{
  display: none;
}
.break-desktop{
  display: block;
}
.mobile-flex{
  display: none;
}
@media(max-width: 750px){
  .mobile{
    display: block;
  }
  .mobile-flex{
    display: flex;
  }
  .break-desktop{
    display: inline;
  }
}