html {
  font-size: .9375vw;
  font-family: PF BeauSans Pro;
  font-weight: normal;
}
body{
  margin:0!important;
}
a{
  text-decoration: unset;
  color:white;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-j-c{
  justify-content: center;
}
.flex-j-s{
  justify-content: flex-start;
}
.flex-d-c{
  flex-direction: column;
}
.flex-n-w{
  flex-wrap: nowrap;
}
.flex-a-b{
  align-items:baseline !important;
}
.c-w{
  color:white;
}
.bg-c-w{
  background-color:white;
}
.bg-c-b{
  background-color: #0e96ca;
}
.mt-0{
  margin-top:0!important;
}
.smart-break{
  display: block;
}
.arrow{
    span{
      background-color: white;
      width: 4rem;
      height: .08em;
      display: block;
    &:first-of-type{
      transform: rotate(-45deg);
      width: 0.3rem;
    }
    &:last-of-type{
      transform: rotate(45deg);
      width: 0.3rem;
    }
  }
}
.arrow-right{
  transform: rotate(180deg);
}
.half{
  width: 50%;
}
.quarter{
  width: 24.9%;
}
.half-height{
  min-height: 18em;
  max-height: 50vh;
  height: 28em;
}
.reverse{
  transform: rotate(180deg);
}
h2{
  margin:0;
}
.mobile{
  display: none;
}
.computer{
  display: block;
}
.computer-flex{
  display: flex;
}
.break-desktop{
  display: block;
}
.mobile-flex{
  display: none;
}
.underline{
  text-decoration: underline;
}
.visible{
  margin-left:0!important;
}
.z-index{
  z-index: 99999!important;
}
.p-s{
  position:static!important;
}

@media(max-width: 750px){
  .flex-m{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .half{
    width: 100%!important;
  }
  .quarter{
    width: 50%!important;
  }
  .computer{
    display: none!important;
  }
  .mobile{
    display: block!important;
  }
  .mobile-flex{
    display: flex!important;
  }
  .computer-flex{
    display: none;
  }
  .break-desktop{
    display: inline!important;
  }
  .half-height{
    max-width: unset;
    min-height: unset;
    height: 63rem;
  }
  .arrow{
    span{
      background-color: white;
      width: 20rem;
      height: .3em;
      display: block;
      &:first-of-type{
        transform: rotate(-45deg);
        width: 1rem;
      }
      &:last-of-type{
        transform: rotate(45deg);
        width: 1rem;
      }
    }
  }
  .bg-w-m{
    background-color: white!important;
  }
  .underline-m{
    text-decoration: underline;
    color:#0e96ca!important;
  }
}
