<section id="innerpage-about">
    <div class="breadcrumbs flex flex-j-s">
        <a href="/" class="breadcrumbs__text-1">Home</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/services.html" class="breadcrumbs__text-1">Services</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/teeth-whitening.html" class="breadcrumbs__text-2">Teeth whitening</a>
    </div>
    <h2>
        Teeth whitening
    </h2>
    <div class="innerpage-about__wrapper flex">
        <div class="half bg_light-blue teeth-whitening__bg-2">
            <div class="innerpage-about__wrapper-2">
                <div class="innerpage-about__text-1_big">Zoom! Teeth Whitening</div>
                <div class="innerpage-about__text-1">
                    When you meet someone, your smile is the first thing they see. We have
                    all seen people who smile and laugh, yet cover their mouth because they
                    are not happy with the way their smile looks. A vibrant white smile not only
                    helps make a positive impression, but it makes you feel better about
                    yourself and your appearance.
                </div>
            </div>
        </div>
        <div class="half about__item about__video computer">
                <div class="about__text-1">
                    <div class="about__line">
                    </div>
                    We strive to make our Irvine Endodontics office a comfortable environment where you will be sure to leave with your tooth pain addressed and a smile on your face
                </div>
        </div>
        <div class="half innerpage-about_bg-blue">
            <div class="innerpage-about__wrapper-3 innerpage-about__wrapper-5">
                <div class="innerpage-about__text-2"><span class="innerpage-about__text-2_blue">How does it work?</span></div>
                <div class="innerpage-about__text-3">
                    Unlike other whitening systems, Zoom! Whitening is a simple and short procedure
                    performed by your dentist. Not only is it safe and comfortable, but the results
                    are immediate and long-lasting. One 45-60 minute session of Zoom! Whitening
                    is all it takes to brighten your smile up to eight shades.
                    <ul class="another-ul">
                        <li>
                            Your lips and gums are covered so that only your teeth
                            are exposed.
                        </li>
                        <li>
                            Your dentist applies the Zoom! whitening gel and uses
                            the specially designed Zoom! light on your teeth.
                        </li>
                        <li>
                            This is repeated 3-4 times in 15 minute increments.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="half innerpage-about_bg-size teeth-whitening__bg-3">
            <div class="main-footer__button flex innerpage-about__button-wrapper"><div class="main-footer__text">Make an appointment</div><div class="arrow arrow-right"><span></span> <span></span> <span></span></div></div>
        </div>
    </div>
</section>