<section id="innerpage-item-2">
    <div class="innerpage-item-2_blue"></div>
        <div class="innerpage-item-2_white innerpage-item-2__wrapper innerpage-item-2__border flex">
            <div class="innerpage-item-2__item-1">
                <div class="innerpage-item-2__text-1">
                    What is tooth whitening?
                </div>
                <div class="innerpage-item-2__line"></div>
            </div>
            <div class="innerpage-item-2__item-2 innerpage-item-2__text-2">
                Tooth whitening can be a very effective way of lightening the natural colour of your teeth
                without removing any of the tooth surface. It cannot make a complete colour change, but it may
                lighten the existing shade.
            </div>

    </div>
</section>