<section id="innerpage-item-1" class="teeth-whitening__bg-4">
    <div class="innerpage-item-1__wrapper">
        <div class="innerpage-item-1__text-1">
            <span class="innerpage-item-1__text-1_blue">What are </span> the side effects?
        </div>
        <div class="innerpage-item-1__text-2">
            Some people may find that their teeth become sensitive to cold during or after the treatment.
            Others may have discomfort in the gums, a sore throat or white patches on the gum line.
            These symptoms are usually temporary and should disappear within a few days
            of the treatment finishing.
            <div>If any of these side effects continue you should go to your dentist.</div>
        </div>
    </div>
</section>