<section id="about" class="flex">
    <div class="half about__item about__video computer">
            <div class="about__text-1">
                <div class="about__line"></div>
                We strive to make our Irvine Endodontics office a comfortable
                environment where you will be sure to leave with your tooth
                pain addressed and a smile on your face
            </div>
    </div>
    <div class="half about__item about__bg-right">
        <div class="about__text-2"><div class="about__text-3">3d</div>  Dental</div>
        <div class="about__text-4">
            At 3D Dental we have a comfortable environment waiting just for you. It’s not just personal attention we offer, but treatment that’s effective and safe. We know you will love your new smile after you have spent some time with us.
        </div>
    </div>
</section>
