<section id="about" class="flex">
    <div class="half about__item about__video">
            <div class="about__text-1">
                <div class="about__line"></div>
                We strive to make our Irvine Endodontics office a comfortable
                environment where you will be sure to leave with your tooth
                pain addressed and a smile on your face
            </div>
    </div>
    <div class="half about__item about__bg-right">
        <div class="about__text-2"><div class="about__text-3">3d</div> Dental</div>
        <div class="about__text-4">
            A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
            patients. These taglines vary in phrase but deliver a similar message. Each of these phrases
            are trademarked by an existing company. These are slogans are for inspiration only.
        </div>
    </div>
</section>