<section id="advantages" class="flex">
    <div class="half advantages-left">
        <div class="advantages-left__text-1"><div class="advantages-left__text-2">Our</div>advantages</div>
        <div class="advantages-left__text-3">
            A rundown of 149 catchy dental slogans that aim
            to comfort and encourage prospected patients.
            These taglines vary in phrase but deliver a similar
            message.
        </div>
    </div>
    <div class="half advantages-right flex">
        <div class="advantages-right__position advantages-right__item-1 flex flex-j-s">
            <div class="advantages-right__circle">1</div>
            <div class="advantages-right__content">
                <div class="advantages-right__text-1"><span class="advantages-right__text-1_blue">Experienced Staff</span> in both General<br>
                    and Cosmetic Dentistry</div>
                <div class="advantages-right__text-3">A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but</div>
            </div>
        </div>
        <div class="advantages-right__position advantages-right__item-2 flex flex-j-s">
            <div class="advantages-right__circle">2</div>
            <div class="advantages-right__content">
                <div class="advantages-right__text-1"><span class="advantages-right__text-1_blue">Central</span> Location</div>
                <div class="advantages-right__text-3">A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but</div>
            </div>
        </div>
        <div class="advantages-right__position advantages-right__item-3 flex flex-j-s">
            <div class="advantages-right__circle">3</div>
            <div class="advantages-right__content">
                <div class="advantages-right__text-1">State of the art <div class="advantages-right__text-1_blue"> Panoramic
                    X-Ray Machine </div></div>
                <div class="advantages-right__text-3">A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but</div>
            </div>
        </div>
        <div class="advantages-right__position advantages-right__item-4 flex flex-j-s">
            <div class="advantages-right__circle advantages-right__circle-4">4</div>
            <div class="advantages-right__content">
                <div class="advantages-right__text-1">General observation that the practice<span class="advantages-right__text-1_blue"><br>is using 21st century technology</span></div>
                <div class="advantages-right__text-3">A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but</div>
            </div>
        </div>
    </div>
</section>