<section id="advantages">
    <div class="half advantages-left">
        <div class="advantages-left__text-1"><div class="advantages-left__text-2">Our</div>advantages</div>
        <div class="advantages-left__text-3">
            A rundown of 149 catchy dental slogans that aim
            to comfort and encourage prospected patients.
            These taglines vary in phrase but deliver a similar
            message.
        </div>
    </div>
    <div class="half advantages-right">
        <div class="advantages__item-1">
            <div class="advantages-right__cirle">1</div>
            <div class="advantages__content">
                <div class="advantages-right__text-1"><div class="advantages-right__text-1_blue">Experienced Staff</div>in both General
                    and Cosmetic Dentistry</div>
                <div class="advantages-right__text-3">A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but</div>
            </div>
        </div>
        <div class="advantages__item-2">
            <div class="advantages-right__cirle">2</div>
            <div class="advantages__content">
                <div class="advantages-right__text-1"><div class="advantages-right__text-1_blue">Central</div>Location</div>
                <div class="advantages-right__text-3">A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but</div>
            </div>
        </div>
        <div class="advantages__item-3">
            <div class="advantages-right__cirle">3</div>
            <div class="advantages__content">
                <div class="advantages-right__text-1_blue">State of the art <div class="advantages-right__text-1">Panoramic
                    X-Ray Machine </div></div>
                <div class="advantages-right__text-3">A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but</div>
            </div>
        </div>
        <div class="advantages__item-4">
            <div class="advantages-right__cirle">4</div>
            <div class="advantages__content">
                <div class="advantages-right__text-1_blue"><div class="advantages-right__text-1"></div></div>
                <div class="advantages-right__text-3">A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected patients. These taglines vary in phrase but</div>
            </div>
        </div>
    </div>
</section>