<section id="main" class="flex flex-j-s">
    <div class="main-nav-mobile mobile">
        <div class="main-nav-mobile__wrapper mobile-flex flex">
            <a href="#">
                <div class="main-nav-mobile__item-1 icon-phone"></div>
            </a>
            <a href="#">
                <div class="main-nav-mobile__item-2">
                    T:+30 23510 47000
                </div>
            </a>
            <a href="#">
                <div class="main-nav-mobile__nav">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </a>
        </div>
    </div>
    <div class="main-left">
        <div class="main-menu">
            <div class="main-menu__hover">
                <div class="main-menu__hover-wrapper">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Smile Gallery</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Location</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>

            <div class="main-menu__wrapper">
                <div class="main-menu__text">
                    Menu
                </div>
                <div class="main-menu__item">
                    <div class="main-menu__line-1"></div>
                    <div class="main-menu__line-2"></div>
                    <div class="main-menu__line-3"></div>
                </div>
            </div>
        </div>
        <div class="main-item">
            <div class="main-item__text">
                Cosmetic excellence. <span class="main-item__text_color-blue">Stunning smiles.</span>
            </div>
            <div class="main-item__line"></div>
        </div>
        <div id="div-for-flex-position"></div>
    </div>
    <div class="main-content">
        <div class="main-nav flex">
            <div class="main-logo">
                <img src="img/logo.png" class="main-logo__img">
            </div>
            <div class="main-nav__item-1">
                <div class="main-nav__line-1"></div>
                <div class="main-nav__text-1">
                    Experience a New Level of Care
                </div>
            </div>
            <div class="main-nav__item-2">
                <div class="main-nav__item-2">
                    <div class="main-nav__img-1 icon-phone"></div>
                    <div class="main-nav__text-2">
                        975 Arthur Godfrey rd #306
                        Miami Beach FL 33140
                    </div>
                </div>
                <div class="main-nav__line-2"></div>
                <div class="main-nav__line-3"></div>
            </div>
            <div class="main-nav__schedule  main-schedule flex flex-j-c">
                <div class="main-schedule__icon icon-clock"></div>
                <div class="main-schedule__text-1">
                    Schedule An Appointment
                </div>
            </div>
        </div>
        <div class="main-heading">
            <div class="main-heading__text-3 mobile">Experience a New Level of Care</div>
            <div class="main-heading__text-1">
                3D Dental
            </div>
            <div class="main-heading__text-2">
                General
                <span class="break-desktop">and Cosmetic
                    Dentistry</span>
            </div>
            <div class="main-schedule flex flex-j-c mobile-flex">
                <div class="main-schedule__icon icon-clock"></div>
                <div class="main-schedule__text-1">
                    Schedule An Appointment
                </div>
            </div>
        </div>
        <div class="main-footer flex">
            <div class="main-footer__button flex">
                <div class="main-footer__text">
                    Make an appointment
                </div>
                <div class="arrow arrow-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="main-news flex">
                <div class="main-news__text">
                    As <span class="smart-break">seen on:</span>
                </div>
                <div class="main-news__line-1"></div>
                <div class="main-news__line-2"></div>
                <img class="main-news__logo-1" src="img/cnbc-logo.png">
                <img class="main-news__logo-2" src="img/7news-logo.png">
                <img class="main-news__logo-3" src="img/fox-news-logo.png">
                <img class="main-news__logo-4" src="img/cnn-logo.png">
            </div>
        </div>
    </div>

</section>