<section id="testimonials">
    <div class="testimonials__content flex">
        <div class="testimonials__item-1 quarter">
            <div class="testimonials__position-1">
                <img src="img/testimonials-icon.svg" alt="testimonials">
                <div class="testimonials__text-1">Client</div>
                <div class="testimonials__text-2">testimonials</div>
            </div>
        </div>
        <div class="testimonials__item-2 quarter">
            <div class="testimonials__position-1">
                <div class="testimonials__icon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="testimonials__img"></div>
                <div class="testimonials__text-3">''</div>
                <div class="testimonials__text-4">Jane Darlington</div>
                <div class="testimonials__text-5">
                    I had very deep wrinkles around my lips and
                    frown lines.  I have a auto immune disease
                    that had caused a lot of insecurities due
                    to my appearance.  After completing my
                    research to find the best,
                    I located Dr. Markelov...
                </div>
            </div>
        </div>
        <div class="testimonials__item-2 quarter testimonials__item-2_blue">
            <div class="testimonials__position-1">
                <div class="testimonials__icon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="testimonials__img"></div>
                <div class="testimonials__text-3">''</div>
                <div class="testimonials__text-4">Jane Darlington</div>
                <div class="testimonials__text-5">
                    I had very deep wrinkles around my lips and
                    frown lines.  I have a auto immune disease
                    that had caused a lot of insecurities due
                    to my appearance.  After completing my
                    research to find the best,
                    I located Dr. Markelov...
                </div>
            </div>
        </div>
        <div class="testimonials__item-2 quarter">
            <div class="testimonials__position-1">
                <div class="testimonials__icon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="testimonials__img"></div>
                <div class="testimonials__text-3">''</div>
                <div class="testimonials__text-4">Jane Darlington</div>
                <div class="testimonials__text-5">
                    I had very deep wrinkles around my lips and
                    frown lines.  I have a auto immune disease
                    that had caused a lot of insecurities due
                    to my appearance.  After completing my
                    research to find the best,
                    I located Dr. Markelov...
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials__arrow">
        <a href="#"></a>
        <a href="#"></a>
    </div>
</section>