<section id="testimonials">
    <div class="testimonials__content testimonials__height flex">
        <div class="testimonials__heading quarter flex f-j-c ">
            <div class="testimonials__position-1">
                <img src="img/testimonials-icon.svg" alt="testimonials" class="testimonials__icon">
                <div class="testimonials__text-1">Client</div>
                <div class="testimonials__text-2">testimonials</div>
            </div>
        </div>
        <div class="testimonials-item quarter">
            <div class="testimonials-item__position-1">
                <div class="testimonials-item__icon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <img class="testimonials-item__img" src="img/testimonials-item-1.png">
                <div class="testimonials-item__text-3">''</div>
                <div class="testimonials-item__text-4">Jane Darlington</div>
                <div class="testimonials-item__text-5">
                    I had very deep wrinkles around my lips and
                    frown lines.  I have a auto immune disease
                    that had caused a lot of insecurities due
                    to my appearance.  After completing my
                    research to find the best, <br>
                    I located Dr. Markelov...
                </div>
            </div>
        </div>
        <div class="testimonials-item testimonials-item_blue quarter">
            <div class="testimonials-item__position-1">
                <div class="testimonials-item__icon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <img class="testimonials-item__img" src="img/testimonials-item-1.png">
                <div class="testimonials-item__text-3">''</div>
                <div class="testimonials-item__text-4">Jane Darlington</div>
                <div class="testimonials-item__text-5">
                    I had very deep wrinkles around my lips and
                    frown lines.  I have a auto immune disease
                    that had caused a lot of insecurities due
                    to my appearance.  After completing my
                    research to find the best,<br>
                    I located Dr. Markelov...
                </div>
            </div>
        </div>
        <div class="testimonials-item quarter">
            <div class="testimonials-item__position-1">
                <div class="testimonials-item__icon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <img class="testimonials-item__img" src="img/testimonials-item-1.png">
                <div class="testimonials-item__text-3">''</div>
                <div class="testimonials-item__text-4">Jane Darlington</div>
                <div class="testimonials-item__text-5">
                    I had very deep wrinkles around my lips and
                    frown lines.  I have a auto immune disease
                    that had caused a lot of insecurities due
                    to my appearance.  After completing my
                    research to find the best,<br>
                    I located Dr. Markelov...
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials__arrow-location flex">
        <a href="#">
            <div class="testimonials__arrow">
                <div class="testimonials__arrow-1"></div>
                <div class="testimonials__arrow-2"></div>
            </div>
        </a>
        <a href="#">
            <div class="testimonials__arrow reverse">
                <div class="testimonials__arrow-1 bg-w-m"></div>
                <div class="testimonials__arrow-2 bg-w-m"></div>
            </div>
        </a>
    </div>
</section>