<section id="treatments" class="flex">
    <div class="quarter half-height treatments__item-0">
        <div class="treatments__position-1">
            <div class="icon-treatments"></div>
            <img class="treatments__icon" src="img/treatments.svg" alt="Treatments">
            <div class="treatments__text-1">General</div>
            <div class="treatments__text-2">set of treatments</div>
        </div>
    </div>
    <div class="quarter treatments__item-1 half-height treatments__hover">
        <div class="treatments__hover-bg">
            <div class="treatments__position-2">
                <div class="treatments__text-3">
                    Cosmetic dentistry
                </div>
                <div class="treatments__line"></div>
                <div class="treatments__text-4">
                    A rundown of 149 catchy dental slogans
                    that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </div>
        </div>
    </div>
    <div class="quarter treatments__item-2 half-height treatments__hover">
        <div class="treatments__hover-bg">
            <div class="treatments__position-2">
                <div class="treatments__text-3">
                    Veneers & Crowns
                </div>
                <div class="treatments__line"></div>
                <div class="treatments__text-4">
                    A rundown of 149 catchy dental slogans
                    that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </div>
        </div>
    </div>
    <div class="quarter treatments__item-3 half-height treatments__hover">
        <div class="treatments__hover-bg">
            <div class="treatments__position-2">
                <div class="treatments__text-3">
                    Invisible braces
                </div>
                <div class="treatments__line"></div>
                <div class="treatments__text-4">
                    A rundown of 149 catchy dental slogans
                    that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </div>
        </div>
    </div>
    <div class="half treatments__item-4 half-height ">
        <div class="treatments__position-3">
            <div class="treatments__text-5">
                Dental implants
            </div>
            <div class="treatments__line"></div>
            <div class="treatments__text-6">
                A rundown of 149 catchy dental slogans
                that aim to comfort and encourage prospected
                patients. These taglines vary in phrase but
            </div>
        </div>
    </div>
    <div class="quarter treatments__item-5 half-height treatments__hover">
        <div class="treatments__hover-bg">
            <div class="treatments__position-2">
                <div class="treatments__text-3">
                    Teeth whitening
                </div>
                <div class="treatments__line"></div>
                <div class="treatments__text-4">
                    A rundown of 149 catchy dental slogans
                    that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </div>
        </div>
    </div>
    <div class="quarter treatments__item-6 half-height treatments__hover">
        <div class="treatments__hover-bg">
            <div class="treatments__position-2">
                <div class="treatments__text-3">
                    Dental anxiety
                </div>
                <div class="treatments__line"></div>
                <div class="treatments__text-4">
                    A rundown of 149 catchy dental slogans
                    that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </div>
        </div>
    </div>
    <div class="quarter treatments__item-7 half-height treatments__hover">
        <div class="treatments__hover-bg">
            <div class="treatments__position-2">
                <div class="treatments__text-3">
                    Injectables
                </div>
                <div class="treatments__line"></div>
                <div class="treatments__text-4">
                    A rundown of 149 catchy dental slogans
                    that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </div>
        </div>
    </div>
    <div class="quarter treatments__item-8 half-height treatments__hover">
        <div class="treatments__hover-bg">
            <div class="treatments__position-2">
                <div class="treatments__text-3">
                    Fillers
                </div>
                <div class="treatments__line"></div>
                <div class="treatments__text-4">
                    A rundown of 149 catchy dental slogans
                    that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </div>
        </div>
    </div>
    <div class="half half-height treatments__item-9 ">
        <div class="treatments__position-4">
            <div class="treatments__text-7">
                <div class="treatments__text-7_blue treatments__text-7-position">''</div>
                <span class="treatments__text-7_blue">If you</span> are reading this page, it probably means that your General
                Dentist has referred you to see an Endodontist for consultation and/or treatment on one or more of your teeth. You may be thinking, "what is ar Endontist and why am i being referred?" An Endocontist is a dental specialist
            </div>
            <div class="treatments__button flex">
                <div class="treatments__button-text">
                    Make an appointment
                </div>
                <div class="arrow arrow-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>

</section>