<section id="treatments" class="flex">
    <div class="quarter half-height treatments__item-0">
        <div class="treatments__position-1">
            <div class="icon-treatments"></div>
            <img class="treatments__icon" src="img/treatments.svg" alt="Treatments">
            <div class="treatments__text-1">General</div>
            <div class="treatments__text-2">set of treatments</div>
        </div>
    </div>
    <div class="quarter treatments__item-1 half-height treatments__hover">
            <div class="treatments__hover-bg">
                <a href="/cosmetic-denistry.html">
                <div class="treatments__position-2">
                    <div class="treatments__text-3">
                        Cosmetic dentistry
                    </div>
                    <div class="treatments__line"></div>
                    <div class="treatments__text-4">
Your facial appearance is one of your most important assets. Cosmetic Dentistry has developed long lasting cosmetic methods to ensure that your teeth stay straight, clean and strong. At 3D Dental we can whiten your teeth, strengthen your teeth and cover up all those unsightly cracks and holes that make you want to keep your mouth shut.
                    </div>
                </div>
                </a>
            </div>

    </div>
    <div class="quarter treatments__item-2 half-height treatments__hover">
            <div class="treatments__hover-bg">
                <a href="/veneers-crowns.html">
                <div class="treatments__position-2">
                    <div class="treatments__text-3">
                        Veneers & Crowns
                    </div>
                    <div class="treatments__line"></div>
                    <div class="treatments__text-4">
If you have any damaged or cracked teeth our veneers and crown technology may be just what you are looking for. Both add strength to your teeth and added support to your jaw, as well of course improving your facial appearance and your smile.
                    </div>
                </div>
                </a>
            </div>
    </div>
    <div class="quarter treatments__item-3 half-height treatments__hover">
            <div class="treatments__hover-bg">
                <a href="/invisible-braces.html">
                <div class="treatments__position-2">
                    <div class="treatments__text-3">
                        Invisible braces
                    </div>
                    <div class="treatments__line"></div>
                    <div class="treatments__text-4">
Have you ever thought that you will never get your teeth straightened because you don’t want to be mocked for months on end with metal braces in your mouth? That’s all changed, as now there are braces like Invisalign available to both adults and children to fix that crooked smile, invisibly!
                    </div>
                </div>
                </a>
            </div>
    </div>
    <div class="half treatments__item-4 half-height ">
        <a href="/dental-implants.html">
            <div class="treatments__position-3">
                <div class="treatments__text-5">
                    Dental implants
                </div>
                <div class="treatments__line"></div>
                <div class="treatments__text-6">
                    Dental implants look and feel like your own teeth. And because they are designed to fuse with bone, they become permanent
                </div>
            </div>
        </a>
    </div>
    <div class="quarter treatments__item-5 half-height treatments__hover">
            <div class="treatments__hover-bg">
                <a href="/teeth-whitening.html">
                <div class="treatments__position-2">
                    <div class="treatments__text-3">
                        Teeth whitening
                    </div>
                    <div class="treatments__line"></div>
                    <div class="treatments__text-4">
                        The dream of having a nice sparkling, white smile can now be met by our cutting edge teeth whitening treatments that will bring back your confidence and your smile in no time at all.
                    </div>
                </div>
                </a>
            </div>
    </div>
    <div class="quarter treatments__item-6 half-height treatments__hover">
            <div class="treatments__hover-bg">
                <a href="/dental-anxiety.html">
                <div class="treatments__position-2">
                    <div class="treatments__text-3">
                        Dental anxiety
                    </div>
                    <div class="treatments__line"></div>
                    <div class="treatments__text-4">
                        You don’t need to feel anxious when you visit 3D Dental as we have the most advanced relaxation treatments available to ensure your dental treatment goes quickly and smoothly. You will leave wondering what all the fuss was all about.
                    </div>
                </div>
                </a>
            </div>
    </div>
    <div class="quarter treatments__item-7 half-height treatments__hover">
            <div class="treatments__hover-bg">
                <a href="/injectables.html">
                <div class="treatments__position-2">
                    <div class="treatments__text-3">
                        Injectables
                    </div>
                    <div class="treatments__line"></div>
                    <div class="treatments__text-4">
                      Injectables
There is increasingly a “mix-and-match” approach when it comes to injectables to fill in sagging skin and wrinkles. At 3D Dental we use the best tried and tested products that keep your skin smooth and fresh.
                    </div>
                </div>
                </a>
            </div>
    </div>
    <div class="quarter treatments__item-8 half-height treatments__hover">
            <div class="treatments__hover-bg">
                <a href="fillers.html">
                <div class="treatments__position-2">
                    <div class="treatments__text-3">
                        Fillers
                    </div>
                    <div class="treatments__line"></div>
                    <div class="treatments__text-4">
                        As you age, sagging skin on your face and more wrinkles can’t be stopped, but these sad features can be treated by using modern dermal fillers that fill in the wrinkles and the sags giving you a fuller, shapelier face.
                    </div>
                </div>
                </a>
            </div>
    </div>
    <div class="half half-height treatments__item-9 ">
        <div class="treatments__position-4">
            <div class="treatments__text-7">
                <div class="treatments__text-7_blue treatments__text-7-position">
                    ''
                </div>
                <span class="treatments__text-7_blue">
                    If you
                </span> are reading this page, it probably means that your General
                Dentist has referred you to see an Endodontist for consultation and/or treatment on one or more of your teeth. You may be thinking, "what is ar Endontist and why am i being referred?" An Endocontist is a dental specialist
            </div>
            <div class="treatments__button flex">
                <div class="treatments__button-text">
                    Make an appointment
                </div>
                <div class="arrow arrow-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>

</section>
