.cosmetic-denistry{
  &__main-bg{
    background-image: url(../img/cosmetic-denistry-bg.png);
  }
  &__bg-2{
    background-image: url(../img/cosmetic-denistry-bg-2.png);
  }
  &__bg-3{
    background-image: url(../img/cosmetic-denistry-bg-3.png);
  }
  &__bg-4{
    background-image: url(../img/cosmetic-denistry-bg-4.png);
  }
}