@media(max-width:750px){
  .main-nav-mobile{
    position: absolute;
    padding-top: 4rem;
    top: 0;
    width: 100%;
    &__item-1,&__nav{
      font-size: 5.5rem;
      position: relative;
    }
    &__item-2{
      font-size: 4rem;
      width: 56rem;
      border: 0.4rem solid #46baeb;
      border-radius: 23px;
      text-align: center;
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      background-color: #3297d5;
      font-weight: 600;
      margin-left: 3rem;
    }
    &__nav{
      div{
        height: 0.4rem;
        background-color: white;
        width:6rem;
        margin-left:3rem;
        margin-top:1rem;
          &:first-of-type{
            width: 9rem;
            margin-left:0;
          }
          &:last-of-type{
            width:2.5rem;
            margin-left:6.5rem
          }
      }
    }
    &__wrapper{
      padding: 0 3rem;
    }

    &__menu_hover,&__call_hover{
      position: absolute;
      height: 190rem;
      min-height: 190rem;
      z-index: 1;
      top: 0;
      width: 100%;
      background-color: #1ea1cde6;
      transition: 1s;
    }
    &__menu_hover,&__call_hover{
      margin-left:-100%;
    }
    &__call-wrapper{
      height: 100%;
      padding-top: 13rem;
    }
    &__call-item-1{
      height: 32rem;
      border-bottom: .1rem solid #7bddff;
      padding: 8rem 20rem 0rem;
    }
    &__text-1{
      color: white;
      font-size: 4.1rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    &__text-2{
      color: white;
      font-size: 4.5rem;
      margin-top: 8rem;
      font-weight: 600;
      line-height: 7rem;
    }
    &__text-2_contact{
      margin-top: 3rem;
      line-height: 9rem;
    }
    &__text-2_geo{
      margin-top: 6rem;
    }
    .icon-geo{
      margin-right: 4rem;
      font-size: 7rem;
    }
    &__text-3{
      color: white;
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-top:-5rem;
    }
    &__call-item-2{
      height: 57rem;
    }
    &__icons{
      margin-top: 8rem;
    }
    &__icons-item{
      font-size: 6rem;
      margin-right: 8rem;
    }
    &__icons-item:last-child{
      margin-right: 0;
    }
    &__menu_hover{
        position: absolute;
        height: 99.6%;
        background-color: #20a0cdd9;
        width: 100%;
        z-index: 1;
        transition: 1s;
        ul{
          list-style-type: none;
          padding-left: 33rem;
          padding-top: 28rem;
          li{
            color: #fff;
            font-size: 9.5rem;
            font-weight: 300;
            transition: .5s;
            margin-bottom: 9.3rem;
          }
          li:hover{
            font-size: 14rem;
          }
          li::before{
            opacity: 0;
            content: " ";
            width: 0rem;
            height: 0.5rem;
            background-color: #fff;
            display: inline-block;
            position: absolute;
            margin-left: -15.7rem;
            margin-top: 6.5rem;
          }
          li:hover::before{
            opacity: 1;
            width: 10rem;
          }
        }
      }
      &__hover-wrapper{
        padding-left: 5rem;
        padding-top: 9rem;
      }
    }
}