<section id="about-page-main" class="flex">
    <div class="half" >
        <div class="about-page-main__wrapper-1">
            <div class="about-page-main__text-1">
                    <span class="about-page-main__text-1_blue">
                        Dr.
                    </span>
                Angela McMullin
            </div>
            <div class="about-page-main__text-2">
                Dentist
            </div>
        </div>
    </div>
    <div class="half">
        <div class="about-page-main__wrapper-2">
            <div class="about-page-main__text-1 about-page-main__text-1_black">
                    <span class="about-page-main__text-1_blue-2">
                        Dr.
                    </span>
                Sydney Sher Segall
            </div>
            <div class="about-page-main__text-2 about-page-main__text-2_2 about-page-main__text-2_blue">
                Dentist
            </div>
        </div>
    </div>
</section>