<section id="about-page-item-1">
    <div class="about-page-item-1__wrapper">
         <div class="about-page-item-1__text-1">
            State of the art <span class="about-page-item-1__text-1_blue">Panoramic
            X-Ray Machine</span>
         </div>
        <div class="about-page-item-1__text-2">
            A rundown of 149 catchy dental slogans
            that aim to comfort and encourage prospected
            patients. These taglines vary in phrase but
        </div>
        <div class="main-footer__button flex"><div class="main-footer__text">Make an appointment</div><div class="arrow arrow-right"><span></span> <span></span> <span></span></div></div>
    </div>

</section>


