 .coming-main{
   margin-top: -6em;
   &__img{
     width: 12.6em;
     margin-top: 8em;
   }
   h1{
     text-transform: uppercase;
     color: #fff;
     font-size: 4.3rem;
     margin-top: 1rem;
     letter-spacing: 0.1rem;
     margin-bottom:0;
   }
   h2{
     color: white;
     margin-top: 0rem;
     font-size: 1em;
     letter-spacing: 0.04em;
   }
   &__h2-margin{
     margin-top:0.4rem;
   }
 }

 @media(max-width: 600px){
   .coming-main{
     margin-top: 0;
      &__img{
        width: 40rem;
        margin-top:0;
      }
     h1{
       font-size: 10rem;
     }
     h2{
       font-size: 3rem;
     }
   }
 }