<section id="innerpage-about">
    <div class="breadcrumbs flex flex-j-s">
        <a href="/" class="breadcrumbs__text-1">Home</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/services.html" class="breadcrumbs__text-1">Services</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/invisible-braces.html" class="breadcrumbs__text-2">Invisible braces</a>
    </div>
    <h2>
        Invisible braces
    </h2>
    <div class="innerpage-about__wrapper flex">
        <div class="half invisible-braces__bg-2">
            <div class="innerpage-about__wrapper-2">
                <div class="innerpage-about__text-1_big">Invisalign & Clear Aligner Therapy</div>
                <div class="innerpage-about__text-1 innerpage-about__text-1_p-1">
                    Clear aligner therapy is a system of virtually invisible aligners used to move the teeth,
                    rather than fixed braces.  At Smilefocus we use Invisalign TM and WhitesmileClear.
                    In consultation with your dentist you will determine which system is the better
                    alternative for your treatment, depending on the complexity of your needs.
                </div>
            </div>
        </div>
        <div class="half about__item about__video computer">
                <div class="about__text-1">
                    <div class="about__line">
                    </div>
                    We strive to make our Irvine Endodontics office a comfortable environment where you will be sure to leave with your tooth pain addressed and a smile on your face
                </div>
        </div>
        <div class="half innerpage-about_bg-blue">
            <div class="innerpage-about__wrapper-4">
                <div class="innerpage-about__text-2 innerpage-about__text-2_blue">Benefits of clear
                    aligners</div>
                <div class="innerpage-about__text-3 innerpage-about__text-3_margin">
                    With clear aligner therapy, there are 4 primary benefits:
                    <ul class="another-ul">
                        <li> You can straighten your teeth without anyone knowing
                            due to the nearly invisible aligners </li>
                        <li> Aligners are removable, therefore you can eat normally
                            and at the same time, brush and floss your teeth
                            to maintain oral hygiene</li>
                        <li>With no metal brackets / wires in your mouth, there
                            will be less irritation and lesser visits to the dentist
                            to get adjustments</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="half innerpage-about_bg-size invisible-braces__bg-3">
            <div class="main-footer__button flex innerpage-about__button-wrapper"><div class="main-footer__text">Make an appointment</div><div class="arrow arrow-right"><span></span> <span></span> <span></span></div></div>
        </div>
    </div>
</section>