<section id="innerpage-item-2">
    <div class="innerpage-item-2_blue"></div>
        <div class="innerpage-item-2_white innerpage-item-2__wrapper innerpage-item-2__border flex">
            <div class="innerpage-item-2__item-1">
                <div class="innerpage-item-2__text-1">
                    How does it work?
                </div>
                <div class="innerpage-item-2__line"></div>
            </div>
            <div class="innerpage-item-2__item-2 innerpage-item-2__text-2">
                You wear each set of aligners for about 2 weeks, removing them only to eat, drink, brush,
                and floss. As you move up the aligner series, your teeth will also move -  step by step,
                week by week until they have straightened to the final position.
            </div>

    </div>
</section>