.veneers-crowns{
  &__main-bg{
    background-image: url(../img/veneers-crowns-bg.png);
  }
  &__bg-2{
    background-image: url(../img/veneers-crowns-bg-2.png);
  }
  &__bg-3{
    background-image: url(../img/veneers-crowns-bg-3.png);
  }
  &__bg-4{
    background-image: url(../img/veneers-crowns-bg-4.png);
  }
  &__bg-5{
    background-image: url(../img/veneers-crowns-bg-5.png);
  }
}
@media(max-width: 750px){
  .veneers-crowns{
    &__main-bg{
      background-image: url(../img/veneers-crowns-bg-mobile.png);
    }
    &__bg-2{
      background-image: url(../img/veneers-crowns-bg-2-mobile.png);
    }
    &__bg-3{
      background-image: url(../img/veneers-crowns-bg-3-mobile.png);
    }
    &__bg-4{
      background-image: url(../img/veneers-crowns-bg-4-mobile.png);
    }
    &__bg-5{
      background-image: url(../img/veneers-crowns-bg-5-mobile.png);
    }
    
  }
}