<section id="innerpage-item-1" class="injectables__bg-4">
    <div class="innerpage-item-1__wrapper">
        <div class="innerpage-item-1__text-1">
            Uses of Derma Filler Injections
        </div>
        <div class="innerpage-item-1__text-2">
            <strong>Lips Enhancement :</strong> eautiful lips can dress up a beautiful smile and nobody is qualified to
            improve a person's lips than dentists.
            <br>
            <strong>Naso-Labial Lines :</strong> Enhancing the looks of soft tissues around the mouth must be a priority
            for the dentists wishing to improve the patients overall appearance.
            <br>
            <strong>Nose / Chin / Cheek Enhancement :</strong> Derma fillers provide a reversible and minimally
            -invasive option for correcting the aesthetic defects of your face.

        </div>
    </div>
</section>