<section id="innerpage-item-3" class="injectables__bg-5">
    <div class="innerpage-item-3__wrapper-2">
        <div class="innerpage-item-3__text-1">
            Can <span class="innerpage-item-3__text-1_blue">cosmetic
            injectables</span> go wrong?
        </div>
    </div>
    <div class="innerpage-item-3__wrapper-2">
        <div class="innerpage-item-3__text-2">
            In the hands of an experienced dental surgeon, like Dr Charlie Kahwagi, your treatment
            will be carried out in a safe and hygienic clinical environment. His meticulous attention
            to detail, as well as his knowledge in the area of cosmetic injectables will ensure that your
            results will be natural, without looking overdone and to help you appear more refreshed.
            As with any medical procedure, there are risks involved, and these and will be thoroughly
            discussed at your consultation.
        </div>
        <div class="innerpage-item-3__text-3">If you are looking for more same day services, please visit our
            <a href="/dental-crowns.html">Dental Crowns</a>  page to learn how crowns can restore your smile.</div>
    </div>
</section>