<section id="innerpage-item-2">
    <div class="innerpage-item-2_blue"></div>
        <div class="innerpage-item-2_white innerpage-item-2__wrapper innerpage-item-2__border flex">
            <div class="innerpage-item-2__item-1">
                <div class="innerpage-item-2__text-1">
                    Injectableis best for me?
                </div>
                <div class="innerpage-item-2__line"></div>
            </div>
            <div class="innerpage-item-2__item-2 innerpage-item-2__text-2">
                Depending on what you want to achieve from your dento-facial aesthetic treatment, there
                are a number of available options.  Dr Charlie Kahwagi ensures that patients are treated
                with the utmost care and dedication and that the treatment plan
                is specially devised for your needs.
            </div>

    </div>
</section>