<section id="innerpage-about">
    <div class="breadcrumbs flex flex-j-s">
        <a href="/" class="breadcrumbs__text-1">Home</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/services.html" class="breadcrumbs__text-1">Services</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/dental-implants.html" class="breadcrumbs__text-2">Dental implants</a>
    </div>
    <h2>
        Dental implants
    </h2>
    <div class="innerpage-about__wrapper flex ">
        <div class="half bg_light-blue dental-implants__bg-2">
            <div class="innerpage-about__wrapper-2">
                <div class="innerpage-about__text-1_big">Implant Supported Overdentures</div>
                <div class="innerpage-about__text-1">
                    Some of our Chandler implant patients prefer to wear a removable denture
                    that snaps in and out over implant locators. Overdentures are an economical
                    option that brings together the benefits of implants, combined with the design
                    of a traditional denture. In most cases it is reserved for individuals with
                    excessive bone loss, or to stabilize a lower denture.
                </div>
            </div>
        </div>
        <div class="half about__item about__video computer">
                <div class="about__text-1">
                    <div class="about__line">
                    </div>
                    We strive to make our Irvine Endodontics office a comfortable environment where you will be sure to leave with your tooth pain addressed and a smile on your face
                </div>
        </div>
        <div class="half innerpage-about_bg-blue">
            <div class="innerpage-about__wrapper-3 innerpage-about__wrapper-5">
                <div class="innerpage-about__text-2"><span class="innerpage-about__text-2_blue">Teeth in a Day Treatments</span></div>
                <div class="innerpage-about__text-3">
                    What happens when you need to replace all of your teeth at one time? Our teeth
                    in a day treatment uses a fixed "All on 4".
                    <ul class="another-ul">
                        <li>Immediate function</li>
                        <li>No need to wear anything removable</li>
                        <li>Optimal comfort</li>
                        <li>Not having to go without teeth</li>
                        <li>A procedure that's completed injust one day</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="half innerpage-about_bg-size dental-implants__bg-3">
            <div class="main-footer__button flex innerpage-about__button-wrapper"><div class="main-footer__text">Make an appointment</div><div class="arrow arrow-right"><span></span> <span></span> <span></span></div></div>
        </div>
    </div>
</section>