<section id="innerpage-item-1" class="dental-implants__bg-4">
    <div class="innerpage-item-1__wrapper">
        <div class="innerpage-item-1__text-1">
            Implant Supported Overdentures
        </div>
        <div class="innerpage-item-1__text-2">
            Some of our Chandler implant patients prefer to wear a removable denture that snaps
            in and out over implant locators. Overdentures are an economical option that brings together
            the benefits of implants, combined with the design of a traditional denture. In most cases
            it is reserved for individuals with excessive bone loss, or to stabilize a lower denture.
        </div>
    </div>
</section>