<section id="innerpage-item-3" class="dental-implants__bg-5">
    <div class="innerpage-item-3__wrapper-3">
        <div class="innerpage-item-3__text-1">

            Schedule a <span class="innerpage-item-3__text-1_blue"> Dental
            Implant </span> Consultation
        </div>
    </div>
    <div class="innerpage-item-3__wrapper-4_top">
        <div class="innerpage-item-3__text-2">
            Dr. Lopez has over a decade of experience performing single and multiple-tooth dental implant
            therapy. During your visit to Riggs Family Dental, we will discuss your concerns, medical history,
            and perform a comprehensive examination (along with diagnostic x-rays). Dr. Lopez will then
            present all of the information to you, so that you can work together to plan the next steps.
            Get affordable financing on dental implants in Chandler. Call Riggs Family Dental today to schedule
            an exam and consultation. Be sure to ask about our $79 new patient special!  Se habla espanol.
        </div>
        <div class="innerpage-item-3__text-3">If you are looking for more same day services, please visit our
            <a href="/dental-crowns.html">Dental Crowns</a>  page to learn how crowns can restore your smile.</div>
    </div>
</section>