<section id="innerpage-item-2">
    <div class="innerpage-item-2_blue"></div>
        <div class="innerpage-item-2_white innerpage-item-2__wrapper innerpage-item-2__border flex">
            <div class="innerpage-item-2__item-1">
                <div class="innerpage-item-2__text-1">
                    What are Dental Implants?
                </div>
                <div class="innerpage-item-2__line"></div>
            </div>
            <div class="innerpage-item-2__item-2 innerpage-item-2__text-2">
                Dental implants are artificial tooth roots that provide a permanent base for fixed, replacement teeth.
                Compared to dentures, bridges and crowns, dental implants are a popular and effective long-term
                solution for people who suffer from missing teeth, failing teeth or chronic dental problems. Because
                they fit, feel and function like natural teeth, dental implants are quickly becoming the new
                standard in tooth replacement.
            </div>

    </div>
</section>