#services-page-main{
  background-image: url(../img/services-bg.png);
  height: 33.2rem;
  max-height: 35rem;
  min-height: 30rem;
  width: 100%;
  background-size: cover;
}
.services-page-main{
  &__text-1{
    color: white;
    font-size: 7.7rem;
    font-weight: 100;
  }
  &__text-2{
    color: white;
    font-size: 3rem;
    font-weight: 800;
    padding-left: 0.5rem;
    letter-spacing: 0.05rem;
    margin-top: -0.6rem;
    padding-right: 14rem;

  }
  &__wrapper{
    padding-left: 68rem;
    padding-top: 9rem;
  }
}
@media(max-width: 750px){
  #services-page-main{
    background-image: url(../img/services-bg-mobile.png);
    height: 159rem;
    max-height: unset;
    min-height: unset;
    width: 100%;
    background-size: cover;
    background-position-y: -10rem;
  }
  .services-page-main{
    &__wrapper{
      padding-left: 3rem;
      padding-top: 0rem;
      padding-right: 3rem;
    }
    &__text-1{
      font-size: 23rem;
    }
    &__text-2{
      font-size: 11rem;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
      margin-top: -4rem;
      letter-spacing: 0.4rem;
    }
  }
}