<section id="offer">
    <div class="offer__wrapper">
        <div class="offer__text-1">State of the art <span class="offer__text-1_blue">panoramic x-ray machine</span></div>
        <div class="offer__text-2">
            Our digital panoramic X-ray machine captures a highly detailed image of your entire mouth and clearly shows your teeth, sinuses, jaw joints and the bone levels surrounding your teeth. Digital X-rays make diagnosis and treatment planning far more precise and efficient.
        </div>
        <div class="main-footer__button flex offer__button-wrapper"><div class="main-footer__text">Make an appointment</div><div class="arrow arrow-right"><span></span> <span></span> <span></span></div></div>
    </div>
</section>