<section id="schedule">
    <div class="schedule__wrapper">
        <div class="schedule__text-1"><span class="schedule__text-1_blue">Dr. </span> Angela McMullin DDS</div>
        <div class="schedule__text-2">Dentist</div>
        <div class="schedule__text-3">
            A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
            patients. These taglines vary in phrase but
        </div>
        <a href="#contact"><div class="schedule__button-wrapper header__schedule flex flex-j-c computer-flex"><div class="header__icon icon-clock"></div><div class="header__text-1">Schedule An Appointment</div></div></a>
    </div>
    <a href="#contact"><div class="schedule__button-wrapper header__schedule flex flex-j-c mobile-flex"><div class="header__icon icon-clock"></div><div class="header__text-1">Schedule An Appointment</div></div></a>

</section>