<section id="services">
    <div class="breadcrumbs flex flex-j-s">
        <a href="/" class="breadcrumbs__text-1">Home</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/services.html" class="breadcrumbs__text-2">Services</a>
    </div>
    <h2>Service</h2>
    <div class="services__wrapper flex">
        <div class="services__item">
            <a href="/cosmetic-dentistry.html">
                <div class="services__line-1"></div>
                <div class="services__text-2">0.1</div>
                <div class="services__line-2"></div>
                <img src="img/CosmeticDentistry.svg" alt="3D Dental Cosmetic Dentistry" class="services__img-1">
                <div class="services__text-1">
                    Cosmetic Dentistry
                </div>
                <div class="services__line-3"></div>
                <div class="services__description">
                    A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </a>
        </div>
        <div class="services__item">
            <a href="/invisible-braces.html">
                <div class="services__line-1"></div>
                <div class="services__text-2">0.2</div>
                <div class="services__line-2"></div>
                <img src="img/InvisibleBraces.svg" alt="3D Dental Invisible Braces" class="services__img-2">
                <div class="services__text-1">
                    Invisible Braces
                </div>
                <div class="services__line-3"></div>
                <div class="services__description">
                    A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </a>
        </div>
        <div class="services__item">
            <a href="/dental-implants.html">
                <div class="services__line-1"></div>
                <div class="services__text-2">0.3</div>
                <div class="services__line-2"></div>
                <img src="img/DentalImplants.svg" alt="3D Dental Dental Implants" class="services__img-3">
                <div class="services__text-1">
                    Dental Implants
                </div>
                <div class="services__line-3"></div>
                <div class="services__description">
                    A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </a>
        </div>
        <div class="services__item">
            <a href="/teeth-whitening.html">
                <div class="services__line-1"></div>
                <div class="services__text-2">0.4</div>
                <div class="services__line-2"></div>
                <img src="img/TeethWhitening.svg" alt="3D Dental Teeth Whitening" class="services__img-4">
                <div class="services__text-1">
                   Teeth Whitening
                </div>
                <div class="services__line-3"></div>
                <div class="services__description">
                    A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </a>
        </div>
        <div class="services__item">
            <a href="/veneers-crowns.html">
                <div class="services__line-1"></div>
                <div class="services__text-2">0.5</div>
                <div class="services__line-2"></div>
                <img src="img/VeneersCrowns.svg" alt="3D Dental Veneers & Crowns" class="services__img-5">
                <div class="services__text-1">
                    Veneers & Crowns
                </div>
                <div class="services__line-3"></div>
                <div class="services__description">
                    A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </a>
        </div>
        <div class="services__item">
            <a href="/dental-anxiety.html">
                <div class="services__line-1"></div>
                <div class="services__text-2">0.6</div>
                <div class="services__line-2"></div>
                <img src="img/DentalAnxiety.svg" alt="3D Dental Dental Anxiety" class="services__img-6">
                <div class="services__text-1">
                    Dental Anxiety
                </div>
                <div class="services__line-3"></div>
                <div class="services__description">
                    A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </a>
        </div>
        <div class="services__item">
            <a href="/injectables.html">
                <div class="services__line-1"></div>
                <div class="services__text-2">0.7</div>
                <div class="services__line-2"></div>
                <img src="img/Injectables.svg" alt="3D Dental Injectables" class="services__img-7">
                <div class="services__text-1">
                    Injectables
                </div>
                <div class="services__line-3"></div>
                <div class="services__description">
                    A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </a>
        </div>
        <div class="services__item">
            <a href="/fillers.html">
                <div class="services__line-1"></div>
                <div class="services__text-2">0.8</div>
                <div class="services__line-2"></div>
                <img src="img/Fillers.svg" alt="3D Dental Fillers" class="services__img-8">
                <div class="services__text-1">
                    Fillers
                </div>
                <div class="services__line-3"></div>
                <div class="services__description">
                    A rundown of 149 catchy dental slogans that aim to comfort and encourage prospected
                    patients. These taglines vary in phrase but
                </div>
            </a>
        </div>
    </div>
</section>