<section id="innerpage-about">
    <div class="breadcrumbs flex flex-j-s">
        <a href="/" class="breadcrumbs__text-1">Home</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/services.html" class="breadcrumbs__text-1">Services</a>
        <div class="arrow arrow-right"><span></span> <span></span> <span></span></div>
        <a href="/fillers.html" class="breadcrumbs__text-2">Fillers</a>
    </div>
    <h2>
        Fillers
    </h2>
    <div class="innerpage-about__wrapper flex ">
        <div class="half bg_light-blue fillers__bg-2">
            <div class="innerpage-about__wrapper-2 innerpage-about__wrapper-2">
                <div class="innerpage-about__text-1_big innerpage-about__text-1_p-3">How do they work?</div>
                <div class="innerpage-about__text-1 innerpage-about__text-1_p-3">
                    Dermal fillers have a 'plumping'  effect when injected into
                    the skin. Put simply dermal fillers will plump-up the area
                    which has received the injection, levelling it with other
                    parts of the skin. Ultimately, different fillersmay achieve
                    this goal in slightly different ways, but the result is that
                    the  skin will look plump, firm, young and refreshed.
                </div>
            </div>
        </div>
        <div class="half about__item about__video computer">
                <div class="about__text-1">
                    <div class="about__line">
                    </div>
                    We strive to make our Irvine Endodontics office a comfortable environment where you will be sure to leave with your tooth pain addressed and a smile on your face
                </div>
        </div>
        <div class="half innerpage-about_bg-blue">
            <div class="innerpage-about__wrapper-3 innerpage-about__wrapper-5">
                <div class="innerpage-about__text-2"><span class="innerpage-about__text-2_blue">Teeth in a Day Treatments</span></div>
                <div class="innerpage-about__text-3">
                    What Can Dermal
                    Fillers Treat?
                    <ul class="another-ul">
                        <li>
                            <strong>Facial lines </strong>  are quite common due to advanced age and stress. These canalso occur as a result of taking certain prescription drugs
                            or smoking. Dermal fillers are effective in filling lines and improving facial
                            aesthetics. </li>
                        <li>
                            <strong>Wrinkle </strong> are an equally common condition which can be treated, and these include forehead wrinkles, wrinkles around the eyes (crow's feet).
                            Other commonly treated skin conditions are varicose veins in aged skin;
                            acne scars sunken cheeks and regular scars.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="half innerpage-about_bg-size fillers__bg-3">
            <div class="main-footer__button flex innerpage-about__button-wrapper"><div class="main-footer__text">Make an appointment</div><div class="arrow arrow-right"><span></span> <span></span> <span></span></div></div>
        </div>
    </div>
</section>