<section id="innerpage-item-2">
    <div class="innerpage-item-2_blue"></div>
        <div class="innerpage-item-2_white innerpage-item-2__wrapper innerpage-item-2__border flex">
            <div class="innerpage-item-2__item-1">
                <div class="innerpage-item-2__text-1">
                    What Are Dermal Fillers?
                </div>
                <div class="innerpage-item-2__line"></div>
            </div>
            <div class="innerpage-item-2__item-2 innerpage-item-2__text-2">
                Dermal fillers are a collagen material made of synthetic or natural substances. The material
                is used to help correct skin conditions which develop as a result of ageing such
                as creases, folds and wrinkles.
            </div>

    </div>
</section>