<section id="innerpage-item-3" class="fillers__bg-5">
    <div class="innerpage-item-3__wrapper-2">
        <div class="innerpage-item-3__text-1">
            Are There Any
            <span class="innerpage-item-3__text-1_blue">Side Effects?</span>
        </div>
    </div>
    <div class="innerpage-item-3__wrapper-2">
        <div class="innerpage-item-3__text-2">
            Dermal fillers are like gels that consist of the substance, which mimics what's found naturally under one's skin. After consultation with your physician during which expectations and goals
            will be discussed thoroughly, your dentist would lay out the treatment plan. Then, the procedure
            will then start. The numbing cream will also be applied to the area of treatment and you'll wait about thirty minutes for this to take effect.
        </div>
        <div class="innerpage-item-3__text-3">If you are looking for more same day services, please visit our
            <a href="/dental-crowns.html">Dental Crowns</a>  page to learn how crowns can restore your smile.</div>
    </div>
</section>