.fillers{
  &__main-bg{
    background-image: url(../img/fillers-bg.png);
  }
  &__bg-2{
    background-image: url(../img/fillers-bg-2.png);
  }
  &__bg-3{
    background-image: url(../img/fillers-bg-3.png);
  }
  &__bg-4{
    background-image: url(../img/fillers-bg-4.png);
  }
  &__bg-5{
    background-image: url(../img/fillers-bg-5.png);
  }
}
@media(max-width: 750px){
  .fillers{
    &__main-bg{
      background-image: url(../img/fillers-bg-mobile.png);
    }
    &__bg-2{
      background-image: url(../img/fillers-bg-2-mobile.png);
    }
    &__bg-3{
      background-image: url(../img/fillers-bg-3-mobile.png);
    }
    &__bg-4{
      background-image: url(../img/fillers-bg-4-mobile.png);
    }
    &__bg-5{
      background-image: url(../img/fillers-bg-5-mobile.png);
      background-position-y: 123rem!important;
    }
  }
}