.main-nav{
  &__item-1{
    margin-top: -0.1rem;
    margin-left: -7.7rem;
  }
  &__text-1{
    color:white;
    text-transform: uppercase;
    font-size: .92rem;
    font-weight: 600;
  }
  &__line-1{
    display: none;
    border: 0.06rem solid #53afe8;
    width: 1rem;
    margin-left: -2.7rem;
    margin-top: 0.45rem;
    position: absolute;
  }
  &__item-2{
    width: 13rem;
    margin-top: -0.4rem;
    margin-left: 3.7rem;
  }
  &__text-2{
    color:white;
    font-weight: 600;
    font-size: 0.88rem;
    line-height: 1.5em;
  }
  &__img-1{
    position: absolute;
    margin-left: -2.2rem;
    margin-top: 0.5rem;
    font-size: 1.7rem;
  }
  &__line-2{
    border-bottom: 0.22rem solid #efdede9e;
    position: absolute;
    width: 7.6rem;
    margin-top: 0.78rem;
    margin-left: 3.9rem
  }
  &__line-3{
    border-bottom: 0.22rem solid white;
    position: absolute;
    width: 3.8rem;
    margin-top: 0.78rem;
    margin-left: 3.9rem
  }
  &__schedule{
    margin-right: 3.56rem;
  }
}
@media(max-width: 750px){
  .main-nav{
    display: none;

  }
}