#offer{
  background-image: url(../img/services-offer-bg.png);
  background-size: cover;
  height: 35rem;
  width: 100%;

}
.offer{
  &__wrapper{
    padding-left: 71rem;
    padding-right: 13rem;
    padding-top: 7.3rem;
  }
  &__text-1{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
    line-height: 1.8rem;
    color:black;
    &_blue{
      color:#1897cc;
    }
  }
  &__text-2{
    margin-top: 1.9rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    line-height: 1.6rem;
  }
  &__button-wrapper{
    margin-top: 2.5rem;
  }

}

@media(max-width: 750px){
  #offer{
    background-image: url(../img/services-offer-bg-mobile.png);
    height: 127rem;
    margin-top: 1rem;
  }
  .offer{
    &__wrapper{
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 22rem;
    }
    &__text-1{
      font-size: 6.6rem;
      line-height: 9rem;
    }
    &__text-2{
      font-size: 5rem;
      line-height: 6rem;
      margin-top: 9rem;
    }
    &__button-wrapper{
      margin-top:12rem;
    }
  }
}